html{
    height: 100%;
    padding: 0%;
}

header{
    background-color: inherit;
    color: white;
    padding: 10px;
    text-align: center;
}

header li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}